In [12]:
import os
import pickle
import pandas as pd
from typing import List
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [2]:
path = "/Users/thebeast/Downloads/airline-passenger-satisfaction"
os.listdir(path)

['test.csv', 'train.csv', 'dataset.parquet']

In [9]:
df = pd.read_parquet(os.path.join(path, "dataset.parquet"))
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [6]:
df.shape

(129880, 24)

In [ ]:
def renamed_columns_in_dataframe(dataframe: pd.DataFrame) -> pd.DataFrame:
    results = {}
    old_columns = dataframe.columns
    for col in old_columns:
        results[col] = col.lower().replace("/", "_").replace(" ", "_")
    return results

In [7]:
features = ['Gender', 'Customer Type', 'Age', 'Type of Travel',
       'Class', 'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction']

categorical_features = ['Gender', 'Customer Type',  'Type of Travel',
       'Class', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness']
       
numerical_features = ['Age', 'Flight Distance', 'Seat comfort', 'Departure Delay in Minutes', 
                      'Arrival Delay in Minutes']

label = 'satisfaction'

23

## Machine Learning

In [21]:
# Encoding
le = LabelEncoder()

class APSLabelEncoder():
    def __init__(self, categorical_features: List[str], dataframe: pd.DataFrame, location: str) -> None:
        self.location = location
        self.dataframe = dataframe.copy()
        self.categorical_features = categorical_features
        for feature in self.categorical_features:
            new_feature_name = feature.replace(" ", "_")
            exec("self.{}_encoder = LabelEncoder()".format(new_feature_name))

    def fit(self) -> None:
        for feature in self.categorical_features:
            new_feature_name = feature.replace(" ", "_")
            exec("self.{}_encoder.fit(self.dataframe[{}])".format(new_feature_name, feature))

    def transform(self) -> pd.DataFrame:
        results = {}
        for feature in self.categorical_features:
            new_feature_name = feature.replace(" ", "_")
            exec(" results[{}] =  self.{}_encoder.transform(self.dataframe[{}])".format(new_feature_name, new_feature_name, feature))
        return pd.DataFrame(results[categorical_features])

    def save(self) -> None:
        with open(self.location, "w") as file:
            pickle.dump(self, file)


encoder = APSLabelEncoder(categorical_features=categorical_features, dataframe=df, location=".")

encoder.fit()

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<string>, line 1)

In [18]:
"je m appelle".replace(" ", "")

'jemappelle'

In [ ]:
# Separate in train and test
X_train, X_test = train_test_split(X, test_size=0.33, random_state=42)