In [1]:
import os
import pandas as pd
from typing import List, Tuple, Dict

In [6]:
path = "/Users/thebeast/Downloads/airline-passenger-satisfaction"
os.listdir(path)

['satisfaction_questions.parquet',
 'test.csv',
 'satisfaction_labels.parquet',
 'train.csv']

In [3]:
df_train = pd.read_csv(os.path.join(path, "train.csv"))
df_test = pd.read_csv(os.path.join(path, "test.csv"))

#df = pd.read_parquet(os.path.join(path, "dataset.parquet"))
df = pd.concat([df_train, df_test])
df_labels = df[["id", "satisfaction"]].copy()
del df["satisfaction"]
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,5,4,3,4,4,5,5,25,18.0
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,1,5,3,1,4,1,1,6.0
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,2,5,3,1,4,2,11,9.0
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,5,3,3,4,4,3,3,3,0,0.0

In [4]:
df.to_parquet(os.path.join(path, "satisfaction_questions.parquet"), index=False)
df_labels.to_parquet(os.path.join(path, "satisfaction_labels.parquet"), index=False)

In [5]:
df.shape

(129880, 24)

In [8]:
df_train["satisfaction"]

0         neutral or dissatisfied
1         neutral or dissatisfied
2                       satisfied
3         neutral or dissatisfied
4                       satisfied
                   ...
103899    neutral or dissatisfied
103900                  satisfied
103901    neutral or dissatisfied
103902    neutral or dissatisfied
103903    neutral or dissatisfied
Name: satisfaction, Length: 103904, dtype: object

In [9]:
df_train.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [13]:
df_train.loc[0].to_dict()

{'Unnamed: 0': 0,
 'id': 70172,
 'Gender': 'Male',
 'Customer Type': 'Loyal Customer',
 'Age': 13,
 'Type of Travel': 'Personal Travel',
 'Class': 'Eco Plus',
 'Flight Distance': 460,
 'Inflight wifi service': 3,
 'Departure/Arrival time convenient': 4,
 'Ease of Online booking': 3,
 'Gate location': 1,
 'Food and drink': 5,
 'Online boarding': 3,
 'Seat comfort': 5,
 'Inflight entertainment': 5,
 'On-board service': 4,
 'Leg room service': 3,
 'Baggage handling': 4,
 'Checkin service': 4,
 'Inflight service': 5,
 'Cleanliness': 5,
 'Departure Delay in Minutes': 25,
 'Arrival Delay in Minutes': 18.0,
 'satisfaction': 'neutral or dissatisfied'}

In [10]:
import pandas as pd
dico = {'gender': 'Male', 'customer_type': 'Loyal Customer', 'age': 13, 'type_of_travel': 'Personal Travel', 'flight_class': 'Eco Plus', 'flight_distance': 460, 'inflight_wifi_service': 3, 'departure_arrival_time_convenient': 4, 'ease_of_online_booking': 3, 'gate_location': 1, 'food and drink': 5, 'online boarding': 3, 'seat_comfort': 5, 'inflight_entertainment': 5, 'on_board_service': 4, 'leg_room_service': 3, 'baggage_handling': 4, 'checkin_service': 4, 'inflight_service': 5, 'cleanliness': 5, 'departure_delay_in_minutes': 25, 'arrival_delay_in_minutes': 18.0}

dico = {k:[v] for (k,v) in dico.items()}
pd.DataFrame(dico)

,gender,customer_type,age,type_of_travel,flight_class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,...,seat_comfort,inflight_entertainment,on_board_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes
0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,1,...,5,5,4,3,4,4,5,5,25,18.0

In [ ]:
def rename_columns_in_dataframe(dataframe: pd.DataFrame) -> Tuple[pd.DataFrame, Dict[str, str]]:
    dataframe = dataframe.copy()
    columns_names_mapping = {}
    old_columns = dataframe.columns
    for col in old_columns:
        columns_names_mapping[col] = col.lower().replace("/", "_").replace(" ", "_").replace("-", "_")
        
    return dataframe.rename(columns=columns_names_mapping), columns_names_mapping


df_renamed, columns_names_mapping = rename_columns_in_dataframe(df)

In [ ]:
features = ['gender','customer_type', 'age','type_of_travel',
            'class', 'flight_distance', 'inflight_wifi_service',
            'departure_arrival_time_convenient','ease_of_online_booking',
            'gate_location', 'food_and_drink', 'online_boarding',
            'seat_comfort', 'inflight_entertainment', 'on-board_service',
            'leg_room_service', 'baggage_handling', 'checkin_service',
            'inflight_service', 'cleanliness', 'departure_delay_in_minutes',
            'arrival_delay_in_minutes', 'satisfaction']

categorical_features = ['gender', 'customer_type', 'type_of_travel', 'class',
                        'inflight_wifi_service', 'departure_arrival_time_convenient','ease_of_online_booking', 'gate_location','food_and_drink',
                        'online_boarding', 'seat_comfort', 'inflight_entertainment',
                        'on_board_service', 'leg_room_service', 'baggage_handling',
                        'checkin_service', 'inflight_service', 'cleanliness']
       
numerical_features = ['age', 'flight_distance', 'seat_comfort', 'departure_delay_in_minutes', 
                      'arrival_delay_in_minutes']

label = 'satisfaction'

## Machine Learning

In [ ]:
def compute_unique_values(dataframe) -> Dict:
    pass

def encode_categorical_features(unique_values: List[str], series: pd.Series) -> pd.Series:
    series = series.apply(lambda x: unique_values.find(x))
    return series

In [ ]:
exec("gender_encoder.fit(df['gender']")

In [ ]:
df_renamed.columns

In [ ]:
# Separate in train and test