In [1]:
import os
import pandas as pd
from typing import List, Tuple, Dict

In [6]:
path = "/Users/thebeast/Downloads/airline-passenger-satisfaction"
os.listdir(path)

['satisfaction_questions.parquet',
 'test.csv',
 'satisfaction_labels.parquet',
 'train.csv']

In [3]:
df_train = pd.read_csv(os.path.join(path, "train.csv"))
df_test = pd.read_csv(os.path.join(path, "test.csv"))

#df = pd.read_parquet(os.path.join(path, "dataset.parquet"))
df = pd.concat([df_train, df_test])
df_labels = df[["id", "satisfaction"]].copy()
del df["satisfaction"]
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes
0,0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,...,5,5,4,3,4,4,5,5,25,18.0
1,1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,...,1,1,1,5,3,1,4,1,1,6.0
2,2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,...,5,5,4,3,4,4,4,5,0,0.0
3,3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,...,2,2,2,5,3,1,4,2,11,9.0
4,4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,...,5,3,3,4,4,3,3,3,0,0.0

In [4]:
df.to_parquet(os.path.join(path, "satisfaction_questions.parquet"), index=False)
df_labels.to_parquet(os.path.join(path, "satisfaction_labels.parquet"), index=False)

In [5]:
df.shape

(129880, 24)

In [8]:
df_train["satisfaction"]

0         neutral or dissatisfied
1         neutral or dissatisfied
2                       satisfied
3         neutral or dissatisfied
4                       satisfied
                   ...
103899    neutral or dissatisfied
103900                  satisfied
103901    neutral or dissatisfied
103902    neutral or dissatisfied
103903    neutral or dissatisfied
Name: satisfaction, Length: 103904, dtype: object

In [ ]:
def rename_columns_in_dataframe(dataframe: pd.DataFrame) -> Tuple[pd.DataFrame, Dict[str, str]]:
    dataframe = dataframe.copy()
    columns_names_mapping = {}
    old_columns = dataframe.columns
    for col in old_columns:
        columns_names_mapping[col] = col.lower().replace("/", "_").replace(" ", "_").replace("-", "_")
        
    return dataframe.rename(columns=columns_names_mapping), columns_names_mapping


df_renamed, columns_names_mapping = rename_columns_in_dataframe(df)

In [ ]:
features = ['gender','customer_type', 'age','type_of_travel',
            'class', 'flight_distance', 'inflight_wifi_service',
            'departure_arrival_time_convenient','ease_of_online_booking',
            'gate_location', 'food_and_drink', 'online_boarding',
            'seat_comfort', 'inflight_entertainment', 'on-board_service',
            'leg_room_service', 'baggage_handling', 'checkin_service',
            'inflight_service', 'cleanliness', 'departure_delay_in_minutes',
            'arrival_delay_in_minutes', 'satisfaction']

categorical_features = ['gender', 'customer_type', 'type_of_travel', 'class',
                        'inflight_wifi_service', 'departure_arrival_time_convenient','ease_of_online_booking', 'gate_location','food_and_drink',
                        'online_boarding', 'seat_comfort', 'inflight_entertainment',
                        'on_board_service', 'leg_room_service', 'baggage_handling',
                        'checkin_service', 'inflight_service', 'cleanliness']
       
numerical_features = ['age', 'flight_distance', 'seat_comfort', 'departure_delay_in_minutes', 
                      'arrival_delay_in_minutes']

label = 'satisfaction'

## Machine Learning

In [ ]:
def compute_unique_values(dataframe) -> Dict:
    pass

def encode_categorical_features(unique_values: List[str], series: pd.Series) -> pd.Series:
    series = series.apply(lambda x: unique_values.find(x))
    return series

In [ ]:
exec("gender_encoder.fit(df['gender']")

In [ ]:
df_renamed.columns

In [ ]:
# Separate in train and test